<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CARIBE</title>
    
    <style>
        img {
            display: block;
            margin: 0 auto;
        }

        .meuTexto {
            color: purple;
        }

        .imagem-borda {
    border: 2px solid blue;
        }
    </style>
    
</head>
<body>
    <h1>Viaje pelo Caribe<h1>
    <img>"Caribe 1.jpg"<img>    
    <p>Uma viagem para o Caribe é um sonho para muitos brasileiros e a região é mesmo impressionante, cheia de praias fascinantes e atrações exóticas.<p> 
    <p>Areias brancas e finas, céu azul e coqueiros para emoldurar um mar de cor única e temperatura perfeita: é difícil não se apaixonar pelo Caribe!<p> 
    <p>Com diversas ilhas e paisagens variadas, a região é uma miscigenação de culturas e oferece as mais diversas experiências.<p>
    <p>Tem vontade de fazer uma viagem para o Caribe? Então confira nossas dicas!<p>   
        
    <p>3 Destinos incriveis para Voçe Aproveitar<p> 
    <img>Caribe 2.jpg<img>
    <img>Caribe 3.jpg<img>
    <img>Caribe 4.jpg<img>   
    
    
    
</body>
</html>